#enclose {
margin-left: 10cm

}

#Gmail_logo
{
    margin-top: 5cm;
    margin-left: 10cm
}

#facebook_logo
{
    margin-top: 1cm;
    margin-left: 10cm
}

#twitter_logo
{
    margin-top: 1cm;
    margin-left: 10cm
}