.background
{
  width:500px;
  height:250px;
  background-color:#b0c4de;
  border:2px solid black;



}


.background kro
{

  margin:30px 40px;
  font-weight:bold;
  color:#000000;
}

#lopata
{

    display: none;
}